
@{
    Layout = null;
    EcommerceOsorioManha.Models.Produto produto = ViewBag.ProdutoAlteracao;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlterarProduto</title>
</head>
<body>
    <h1>Alterar Produto</h1>
    <div>
        <table>
            
            @if (produto != null)
            {
                <tr>
                    <th>  Nome   </th>
                    <th>  Descrição   </th>
                    <th>  Preço   </th>
                    <th>  Categoria   </th>
                </tr>
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Preco</td>
                    <td>@produto.Categoria</td>
                </tr>
            }
            else
            {
                <h2> Produto Inacessível</h2>
            }






        </table>
    </div>

</body>
</html>
