
@{
    Layout = null;
    EcommerceOsorioManha.Models.Produto produto = ViewBag.ProdutoRemover;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoverProduto</title>
</head>
<body>
    <h1>Remover Produto</h1>
    <div>
        <table>
            <tr>
                <th>  Nome   </th>
                <th>  Descrição   </th>
                <th>  Preço   </th>
                <th>  Categoria   </th>
            </tr>
            @if (produto != null)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Preco</td>
                    <td>@produto.Categoria</td>
                </tr>
            }

            


        </table>
    </div>

</body>
</html>
